ul{
  position: fixed;
  background-color: yellow;
  float:left;
  width: 20%;
  margin-left: 15.5%;
  margin-right: 2.5%;
  box-sizing: border-box;
  border: solid 1px;
  bottom: 5px;
  left: 5px;

}




header {
  background-color: black;
  color: white;
  font-size: 28px;
  border-bottom: solid 1px red;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

section {
  color: black;
  width: 50%;
  margin-left: 25%;
  background-color: gainsboro;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: dashed 5px;
  box-sizing: border-box;
}


footer {
  background-color: black;
  color: white;
  border-top: solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  box-sizing: border-box;
}
section {
overflow:hidden;
}

article.art {
float:left;
width: 20%;
margin-left: 15.5%;
margin-right: 2.5%;
box-sizing: border-box;
border: solid 1px;

}
article.art:hover {
float:left;
width: 20%;
margin-left: 15.5%;
margin-right: 2.5%;
box-sizing: border-box;
border: solid 1px;
background-color: red;
}
div.cajas {
  width: 100px;
  border: solid 1px red;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}
div.cajas#caja1{
  position: relative;
  top: 50px;
  left: 100px;
  z-index: 10;
}
div.cajas#caja2{
  position: absolute;
  top: 500px;
  left: 100px;
  z-index: 5;
}
div.cajas#caja3{
  position: fixed;
  right: 0px;
  bottom:0px;

}

.yellow{
background-color: yellow;
width: 20px;
height: 20px;
top:10px;
position: relative;
}
.red{
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 10;
}
